{% extends 'base.html.twig' %}

{% block title %}{{'validation_sent.title'|trans}}{% endblock %}

{% block body %}
    <h1>{{'validation_sent.thanks'|trans}}</h1>
    <p>{{'validation_sent.message'|trans}}</p>
     <a href="{{ path('app_login') }}" class="btn btn-primary mt-3">{{'validation_sent.redirection'|trans}}</a>
{% endblock %}
