<h1>{{'validation_mail.hello'|trans({}, 'messages', locale)}}</h1>

<p>
    {{'validation_mail.message'|trans({}, 'messages', locale)}} <br><br>
    <a href="{{ signedUrl|raw }}">{{'validation_mail.confirm'|trans({}, 'messages', locale)}}</a>.
    {{'validation_mail.warning'|trans({}, 'messages', locale)}} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle', locale) }}.
</p>

<p>
    {{'validation_mail.cheers'|trans({}, 'messages', locale)}}
</p>
