{% extends 'base.html.twig' %}

{% block title %}{{'register.title'|trans}}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>{{'register.title'|trans}}</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email,
            {
                label: 'register.email'|trans
            }
        ) }}
        {{ form_row(registrationForm.plainPassword, 
            {
                label: 'register.password'|trans
            }
        ) }}
        {{ form_row(registrationForm.agreeTerms, 
            {
                label: 'register.agree_terms'|trans
            }
        ) }}

        <button type="submit" class="btn">{{'register.title'|trans}}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
