{% extends 'base.html.twig' %}

{% block title %}{{'email_sent.title'|trans}}{% endblock %}

{% block body %}
    <p>
        {{'email_sent.message'|trans}}
        {{'email_sent.warning'|trans}} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>{{'email_sent.error'|trans}} <a href="{{ path('app_forgot_password_request') }}">{{'email_sent.resend'|trans}}</a>.</p>
{% endblock %}
