<h1>{{ 'email_reset.hello'|trans({}, 'messages', locale) }}</h1>
<p>{{ 'email_reset.message'|trans({}, 'messages', locale) }}</p>
<a href="{{ absolute_url(path('app_reset_password', {token: resetToken.token})) }}">
    {{ absolute_url(path('app_reset_password', {token: resetToken.token})) }}
</a>
<p>
    {{ 'email_reset.warning'|trans({}, 'messages', locale) }}
    {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle', locale) }}.
</p>
<p>{{ 'email_reset.cheers'|trans({}, 'messages', locale) }}</p>
