<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>
    <header>
        <form id="searchForm" action="{{ path('app_cheapshark_search') }}" method="get">
            <input type="text" name="title" placeholder="Rechercher un jeu...">
            {% for store in app.session.get('stores') %}

            <input type="checkbox" name="stores[]" id="{{ store }}" value="{{ store }}" checked>
            <label for="{{ store }}">{{ store }}</label>

            {% endfor %}
            <input type="submit" value="Rechercher">
        </form>
    </header>
    <main id="results">
        {% block body %}{% endblock %}
    </main>
</body>

<script>
    document.getElementById('searchForm').addEventListener('submit', async (e) => {
        e.preventDefault();

        const form = e.target;
        const params = new URLSearchParams(new FormData(form));
        const response = await fetch('/search?' + params.toString());
        const html = await response.text();

        // Récupérer uniquement le fragment du body
        const parser = new DOMParser();
        const doc = parser.parseFromString(html, 'text/html');
        document.getElementById('results').innerHTML = doc.getElementById('results').innerHTML;
    });
</script>

</html>